@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.scrl {
  --sb-track-color: #232e33;
  --sb-thumb-color: #6baf8d;
  --sb-size: 5px;
}

.scrl::-webkit-scrollbar {
  width: var(--sb-size);
  display: none;
}

.scrl::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 15px;
}

.scrl::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 15px;
}

@supports not selector(::-webkit-scrollbar) {
  .scrl {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  scrollbar-width: none;
}
